@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Nunito", sans-serif;
}

/*-----------------------------------Colors*/

.bg-color-header {
    background-color: #37a3c8;
}

section {
    background-color: #C85C37;
}

/*-----------------------------------Header*/

header {
    margin: 0;
}

.logo-banner {
    background-color: #37a3c8;
    text-align: center;
}

.logo-banner img {
    max-height: 120px;
    max-width: 100%;
    width: 60px;
    position: relative;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 50%;
    z-index: 1;
}

.gym-name {
    font-weight: 900;
    font-size: 46px;
    color: #fff;
    margin-top: 30px;
    text-align: center;
}

.gym-name:hover {
    color: #ffb31a;
}

.gym-tag-line {
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    text-align: center;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.navcontainer {
    font-size: 0;
}

#nav {
    margin: 0 auto;
}

#nav li {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.navitem {
    height: 60px;
    padding: 0;
    text-align: center;
    background-color: #37a3c8;
}

.navitem a {
    width: 100%;
    text-decoration: none;
    color: #C85C37;
    height: 60px;
}

.navitem a:hover {
    color: #37a3c8;
    background-color: #C85C37;
    opacity: 0.9;
}

.navitem a span {
    vertical-align: middle;
}

.credit {
    font-size: 4px;
    color: #fff;
    text-decoration: none;
}


/*-----------------------------------Home Section*/

.first-pic-homepage {
    background-image: linear-gradient(rgba(200,92,55,0.5), rgba(200,92,55,1)), url(../images/muythai.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    text-align: center;
}

.first-pic-homepage img {
    max-height: 250px;
    width: 250px;
    position: relative;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: 0.5;
}

.first-pic-homepage h3 {
    color: #fff;
    font-size: 36px;
    font-weight: 800;
    margin-top: 20px;
}

.first-pic-homepage p {
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
}

.fitter-pic {
    background: url(../images/fitter-picture.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #fff;
    border-radius: 50%;
    min-height: 180px;
    color: #fff;
}

.faster-pic {
    background: url(../images/faster-picture.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #fff;
    border-radius: 50%;
    min-height: 180px;
    color: #fff;
}

.stronger-pic {
    background: url(../images/stronger-picture.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #fff;
    border-radius: 50%;
    min-height: 180px;
    color: #fff;
}

.section-heading {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

section p {
    font-size: 12px;
    color: #fff;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gym-name-span {
    font-size: 14px;
    font-weight: 600;
}

.gym-name-span:hover {
    color: #ffb31a;
}

/*-----------------------------------Timetable*/

.timetable-pic {
    background-image: linear-gradient(rgba(200,92,55,0.5), rgba(200,92,55,1)), url(../images/timetable-picture.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 480px; 
}

.times {
    color: #ffb31a;
    font-size: 120%;
}

.timetable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.day-heading {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.prices-bg {
    background-color:#C85C37;
    text-align: center;
}

.price {
    color: #ffb31a;
    font-size: 36px;
    font-weight: 200; 
}

.price-heading {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.prices-bg p {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
}

/*-----------------------------------Techniques*/

iframe {
    width: 100%;
    max-height: 360px;
    border: 2px solid #fff;
    border-radius: 10%;
}

.techniques-banner-pic {
    background-image: linear-gradient(rgba(200,92,55,0.5), rgba(200,92,55,1)), url(../images/techniques-picture.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

/*-----------------------------------Sign Up*/

.where-to-find-us {
    background: url("../images/WhereToFindUs.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 240px;
    margin-left: 15px;
}

.signup-form {
    margin-top: 20px;   
    font-size: 16px;
    margin-left: 50px;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
    background-color: #37a3c8;
    font-weight: 600px;
}

button[type="submit"]:hover {
    color: #37a3c8;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 800px;
}

/*-----------------------------------Footer*/

footer {
    background-color: #37a3c8;
    color: #fff;
    margin: 0;
    text-align: center;
}

footer h5 {
    color: #fff;
    text-transform: none;
    margin-top: 10px;
    font-size: 18px;
}

#footer-nav {
    font-size: 14px;
}

.social-links li a i {
    color: #fff;
    width: 32px;
    height: 32px;
    font-size: 16px;
    border-radius: 50%;
    text-decoration: none;
    margin-bottom: 10px;
}

.social-links li a i:hover {
    color: #ffb31a;
    font-size: 130%;
}

/*-----------------------------------Media Queries*/

@media (max-width: 992px) {
    .first-pic-homepage {
        height: 75%;
    }
    .techniques-banner-pic {
        height: 75%;
    }
    footer {
        font-size: 75%;
    }
}

@media (max-width: 610px) {
    #footer-nav {
        display: none;
    }
}